<header>
  <div class="row header-container">
    <ul>
      <li
        [ngClass]="{ active: checkingIsActive('home') }"
        (click)="clickHome()"
      >
        Home
      </li>
      <li
        [ngClass]="{ active: checkingIsActive('movies') }"
        (click)="clickMovies()"
      >
        Movies
      </li>
      <li [ngClass]="{ active: checkingIsActive('tv') }" (click)="clickTv()">
        Tv
      </li>

      <li>
        <input
          type="text"
          #movieSearchInput
          class="form-control"
          placeholder="search"
        />
      </li>
    </ul>
  </div>
</header>

<router-outlet></router-outlet>
