<div class="container-fluid">
  <div class="container">
    <div *ngIf="movieSearched && movieSearched.results.length > 0">
      <div class="row">
        <div
          *ngFor="
            let movie of movieSearched!.results
              | paginate
                : {
                    itemsPerPage: 20,
                    currentPage: pageNumber,
                    totalItems: movieSearched.total_results
                  }
          "
          class="col-xl-2 col-lg-3 col-md-4 col-xs-offset-1 data-div"
        >
          <app-movie-item [movie]="movie"></app-movie-item>
        </div>
        <div class="pagination">
          <pagination-controls
            previousLabel="prev"
            nextLabel="next"
            (pageChange)="getSearchResults($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="resultsLength < 1">
    <ngb-carousel *ngIf="movieList">
      <ng-template
        ngbSlide
        *ngFor="let movie of movieList.results | slice : 6 : 12"
      >
        <div class="picsum-img-wrapper" style="background-color: black">
          <img
            style="width: 100%; height: 80%"
            src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
            alt="Random slide"
          />
        </div>
        <div class="carousel-caption">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.overview }}</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="container">
      <div *ngIf="movies" class="wrapper" else no_result>
        <div class="row">
          <div style="display: flex">
            <div>
              <h3 style="color: white; border-bottom: 5px snow white">
                Recommended
              </h3>
            </div>
            <div style="margin: 0 7px 0 25px">
              <button (click)="getMovies()" style="border-radius: 5px">
                Movies
              </button>
            </div>
            <div>
              <button (click)="getTvShows()" style="border-radius: 5px">
                TV Shows
              </button>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div
                *ngFor="let movie of movies.results | slice : 0 : 20"
                class="col-xl-2 col-lg-3 col-md-4 col-xs-offset-1 data-div"
              >
                <app-movie-item
                  [movie]="movie"
                  (itemClick)="onItemClick($event)"
                >
                </app-movie-item>
              </div>
            </div>
            <div style="display: flex; justify-content: end">
              <button class="viewbtn" (click)="viewAll()">View All</button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #no_result>No result found</ng-template>
    </div>
  </div>
</div>
