body {
  background: rgb(22, 3, 3);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
}

a:hover {
  text-decoration: none;
}
.movie-list-describ {
  background: navajowhite;
  width: 100%;
  color: rgb(22, 3, 3);
  text-align: center;
}
