body {
  background: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
}

a:hover {
  text-decoration: none;
}
.movie-list-describ {
  background: black;
  width: 100%;
  color: rgb(22, 3, 3);
  text-align: center;
}
.pagination {
  color: white;
}
.viewbtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 20px 5px 10px;
  border-radius: 5px;
}
.container {
  background-color: black;
}
.container-fluid {
  background-color: black;
}
