<div class="container-fluid" style="background-color: black">
  <div
    style="
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 10px;
    "
    *ngIf="loading"
  >
    <span class="loader"></span>
    <h3>Loading...</h3>
  </div>

  <div class="container" style="background-color: black">
    <div *ngIf="movies" class="wrapper" else no_result>
      <div class="row">
        <div
          *ngFor="
            let movie of movies.results
              | paginate
                : {
                    itemsPerPage: 20,
                    currentPage: pageNumber,
                    totalItems: movies?.total_results
                  }
          "
          class="col-xl-2 col-lg-3 col-md-4 col-xs-offset-1 data-div"
        >
          <app-movie-item [movie]="movie" (itemClick)="onItemClick($event)">
          </app-movie-item>
          <!-- <div style="padding: 10px 0px; width: 100%"> -->
          <!-- <img -->
          <!-- style=" -->
          <!-- /* height: 240px; */ -->
          <!-- /* width: 100%; */ -->
          <!-- /* object-fit: cover; */ -->
          <!-- /* border-radius: 5px; */ -->
          <!-- /* " */ -->
          <!-- src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" -->
          <!-- alt="poster" -->
          <!-- class="img img-responsive" -->
          <!-- (click)="onItemClick(movie.id)" -->
          <!-- /> -->
          <!-- <div class="movie-list-descrip" style="color: white"> -->
          <!-- <span> -->
          <!-- {{ movie.release_date | date : "y" }} | votes: -->
          <!-- {{ movie.vote_count }}</span -->
          <!-- > -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>

    <ng-template #no_result>No result found</ng-template>
    <div>
      <pagination-controls
        previousLabel="prev"
        nextLabel="next"
        (pageChange)="getTvShows($event)"
      >
      </pagination-controls>
    </div>
  </div>
</div>
